:root {
  --primary-color: #47d7ac;
  --table-border-color: rgb(123, 173, 6);
  --table-header-color: rgb(160, 216, 29);
}
header {
  background-color: var(--primary-color);
  color: white;
  padding: 0.5rem 0;
}
form {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  box-sizing: border-box;
  padding: 2rem;
  width: 100%;
  min-width: 350px;
}
form > div {
  width: 100%;
  display: flex;
  flex-direction: row;
}
form > div > label {
  width: 8rem;
}
form > div input {
  width: 50%;
  border-width: 1px;
  border-radius: 0.3rem;
}
main {
  display: flex;
  flex-wrap: wrap;
  padding: 2rem 0rem;
  padding-bottom: 5rem;
  flex-wrap: wrap;
}
aside {
  width: 50%;
}
section {
  border-left: 0.2rem solid rgb(62, 201, 62);
  width: 50%;
}
footer {
  background-color: var(--primary-color);
  color: white;
}
.skills-options {
  flex-direction: row;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}
@media screen and (max-width: 600px) {
  main {
    display: flex;
    flex-direction: column;
  }
  section {
    border: 0;
    width: 100%;
  }
}
table {
  width: 50%;
  margin-right: 40%;
  font-size: 12px;
  padding: 10px;
}
thead {
  position: sticky;
  color: #fff;
  background-color: var(--table-header-color);
  text-align: left;
}
th,
td {
  border: 1px solid var(--table-border-color);
}

tbody > tr:nth-child(even) {
  background: rgb(230, 249, 185);
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
  height: 100px;
  width: 95px;
}
